<div *ngIf="selectedHito">
    <h2>Detalles de {{selectedHito.s_nompro | uppercase}}</h2>
    <div><span>id: </span>{{selectedHito.i_hitid}}</div>
    <Table>
      <tr>
        <td>
        <label>Nombre:</label>
        </td>
        <td>
          <input [(ngModel)]="selectedHito.s_nompro" placeholder="s_nompro"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Fecha Ingreso:</label>
        </td>
        <td>
          <input [(ngModel)]="selectedHito.f_fecing" placeholder="f_fecing"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Tipo:</label>
        </td>
        <td>
          <input [(ngModel)]="selectedHito.i_tipo" placeholder="i_tipo"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Descripción:</label>
        </td>
        <td>
          <input [(ngModel)]="selectedHito.s_descri" placeholder="s_descri"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Fecha Cumplimiento:</label>
        </td>
        <td>
          <input [(ngModel)]="selectedHito.f_feccum" placeholder="f_feccum"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Cumplio:</label>
        </td>
        <td>
          <input [(ngModel)]="selectedHito.s_cumpli" placeholder="s_cumpli"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Observaciones Cumplimiento:</label>
        </td>
        <td>
          <input [(ngModel)]="selectedHito.s_obscum" placeholder="s_obscum"/>
        </td>
      </tr>
    </Table>
  </div>
