<div *ngIf="hito">
    <h2>Detalles de {{hito.s_nompro | uppercase}}</h2>
    <div><span>id: </span>{{hito.i_hitid}}</div>
    <Table>
      <tr>
        <td>
        <label>Nombre:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_nompro" placeholder="s_nompro"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Fecha Ingreso:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.f_fecing" placeholder="f_fecing"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Tipo:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.i_tipo" placeholder="i_tipo"/>
          <select [(ngModel)]="selectedTipo.i_tipid">
            <option *ngFor="let tipo of tipos" value= {{tipo.i_tipid}}>
              {{tipo.s_descri}}
            </option>            
        </select>
                
        </td>
      </tr>
      <tr>
        <td>
        <label>Descripción:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_descri" placeholder="s_descri"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Fecha Cumplimiento:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.f_feccum" placeholder="f_feccum"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Cumplio:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_cumpli" placeholder="s_cumpli"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Observaciones Cumplimiento:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_obscum" placeholder="s_obscum"/>
        </td>
      </tr>
    </Table>
  </div>
