<div *ngIf="hito">
    <h2>Detalles de {{hito.s_nompro | uppercase}}</h2>
    <!--<div><span>id: </span>{{hito.i_hitid}}</div>-->
    <Table>
      <tr>
        <td>
        <label class="label">Nombre:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_nompro" type="text" placeholder="s_nompro">
        </td>
      </tr>
      <tr>
        <td>
        <label>Fecha Ingreso:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.f_fecing" type="date" placeholder="f_fecing" id="controlFechaIngreso"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Tipo:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.i_tipo" placeholder="i_tipo" id="controlTipo"/>                          
        </td>
      </tr>
      <tr>
        <td>
        <label>Descripción:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_descri" placeholder="s_descri" id="controlDescripcion"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Fecha Cumplimiento:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.f_feccum" type="date" placeholder="f_feccum" id="controlFechaCumplimiento"/>
        </td>
      </tr>
      <tr>
        <td>
        <label>Cumplio:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_cumpli" type="checkbox" placeholder="s_cumpli" ng-true-value="A" ng-false-value="Z">
        </td>
      </tr>
      <tr>
        <td>
        <label>Observaciones Cumplimiento:</label>
        </td>
        <td>
          <input [(ngModel)]="hito.s_obscum" placeholder="s_obscum" id="controlObservacionesCumplimiento"/>
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="InsertUnHito(controlNombreProyecto)" class="button">Insertar Hito</button>
        </td>
        <td>
          <button (click)="UpdateUnHito()" class="button">Actualizar Hito</button>
        </td>
      </tr>
    </Table>
  </div>
