<h2>Lista de Hitos...</h2>
<ul class="hitos">
  <li *ngFor="let hito of hitos"
    [class.selected]="hito === selectedHito"
    (click)="onSelect(hito)">
    <span class="badge">{{hito.i_hitid}}</span> {{hito.s_nompro}}
  </li>
</ul>

<div *ngIf="selectedHito">

  <h2>Detalles de {{selectedHito.s_nompro | uppercase}}</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>Nombre:
      <input [(ngModel)]="selectedHito.s_nompro" placeholder="s_nompr"/>
    </label>
  </div>
</div>